<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.SymptomDao">
    <select id="findBySearch" resultType="com.example.entity.Symptom">
        select * from symptom
        <where>
            <if test="params !=null and params.user_id !=null and params.user_id != ''">
                and USER_ID = #{params.user_id}
            </if>
        </where>
    </select>
</mapper>